body{
	padding:0;
	margin:0;
}
p{
	text-align:justify;
}
#container{
	margin:auto auto;
	width:1000px;
	text-align:center;
	
}
header{
	margin:100px;
}
.profile img{
	height:75px;
	border-radius:50%;
	float:left;
}
.profile p{
	display:block;
}
td{
	padding:8px;
	text-align:left;
}
.experience{
	float:left;
	width:80%;
}
.languageList{
	float:right;
	padding-right:50px;
}
.languageList ul{
	list-style:none;
	
}
.languageList ul li{
	font-size:20px;
	text-align:left;
}
.languageList ul li abbr{
	text-decoration:none;
	
}
h2{
	border-bottom:2px solid rgba(100,100,100,.5);
	padding-bottom:10px;
	
}
#clr{
	clear:both;
}