body{
	padding:0;
	margin:0;
}
p{
	text-align:justify;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#container{
	margin:auto auto;
	width:1000px;
	text-align:center;
	padding-bottom:100px;	
}
header{
	margin:100px;
}
nav{
	float:right;
}
nav li{
	display:inline;
	list-style:none;
	
}
nav li a{
	text-decoration:none;
	color:black;
	padding: 0 10px 0 10px;
	font-size:25px;
}
nav li a:hover{
	border-bottom: 2px solid rgba(100,100,100,.5);
	font-size:30px;
}
.profile img{
	height:75px;
	border-radius:50%;
	float:left;
}
.profile p{
	display:block;
}
td{
	padding:8px;
	text-align:left;
}
.experience{
	float:left;
	width:77%;
}
.languageList{
	float:right;
	padding-right:50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.languageList ul{
	list-style:none;
	
}
.languageList ul li{
	font-size:20px;
	text-align:left;
}
.languageList ul li abbr{
	text-decoration:none;
	
}
h2{
	border-bottom:2px solid rgba(100,100,100,.5);
	padding-bottom:10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}
footer{
	width:100%;
	margin:0;
	padding-top:50px;
}
#clr{
	clear:both;
}